<div>
  <div class="ml-5">
   <table class="table table-borderless">
    <tr>
      <td>名前</td>
      <td><%= current_customer.name %></td>
    </tr>
    <tr>
      <td>メールアドレス</td>
      <td><%= current_customer.email %></td>
      <td>
       <%= link_to edit_public_customer_path(current_customer), class: "btn btn-info" do %>
        <i class="fa-solid fa-user-pen"></i> プロフィール編集
       <% end %>
      </td>
    </tr>
   </table>
  </div>
 </div>


<div class="my_page">
 <table class='table table-inverse'>
  <thead>
    <h1 class="text-center mt-5 mb-3">投稿一覧</h1>
    <tr>
      <th>投稿日時</th>
      <th>献立名</th>
      <th></th>
      <th></th>
    </tr>
  </thead>
  <tbody>
   <% @menus.each do |menu| %>
    <% if current_customer.id == menu.customer_id %>
     <tr>
        <td><%= menu.created_at.strftime("%Y/%-m/%-d") %></td>
        <td><%= menu.name %></td>
        <td>
          <%= link_to public_menu_path(menu) do %>
            <div class="show-btn">表示する</div>
          <% end %>
        </td>
        <td>
         <%= link_to "削除",public_menu_path(menu), method: :delete, class: "btn btn-danger", "data-confirm" => "削除しますか？" %>
        </td>
      </tr>
    <% end %>
   <% end %>
  </tbody>
 </table>
 <div class="offset-md-5 mt-5"><%= paginate @menus, theme: 'twitter-bootstrap-4' %></div>
</div>

