<div class="random-show">
 <h1 class="text-center pt-4">1日分の献立表示</h1>
 <div class="d-flex justify-content-center">
  <div class="row mr-5 mt-3"><%= image_tag @menus.image, size: "500x400" %></div>

    <div class="row align-items-center">
     <div class="col-6">
      <div class="menu h5 font-weight-bold">献立名</div>
      <div class="menu h5 font-weight-bold">主食</div>
      <div class="menu h5 font-weight-bold">主菜</div>
      <div class="menu h5 font-weight-bold">副菜</div>
      <div class="menu h5 font-weight-bold">作り方</div>
     </div>
     <div class="col-6 mt-3">
      <div class="menu"><%= @menus.name %></div>
      <div class="menu"><%= @menus.syusyoku %></div>
      <div class="menu"><%= @menus.syusai %></div>
      <div class="menu"><%= @menus.fukusai %></div>
      <div class="menu"><%= @menus.introduction %></div>
     </div>

</div>
 </div>

<div class="text-center pt-5">
 <%= link_to "再度おまかせ", new_public_day_random_path, class: "btn btn-primary"  %>
</div>
</div>



