<div class="random-show">
 <h1 class="text-center pt-4">1日分の献立</h1>
 
 <div class="d-flex justify-content-center">
  <div><%= image_tag @menu.image, size: "500x400" %></div>

  <div class>
   <table class="table table-borderless">
     <tr>
       <th class="table-menu">献立名</th>
       <td><%= @menu.name %></td>
     </tr>
     <tr>
       <th>主食</th>
       <td><%= @menu.syusyoku %></td>
     </tr>
     <tr>
       <th>主菜</th>
       <td><%= @menu.syusai %></td>
     </tr>
     <tr>
       <th>副菜</th>
       <td><%= @menu.fukusai %></td>
     </tr>
     <tr>
       <th>作り方</th>
       <td class="border text-justify"><%= @menu.introduction %></td>
     </tr>
    </table>
  </div>

 </div>
 <div class="text-center pt-5">
  <%= link_to "再度おまかせ", new_public_day_random_path, class: "btn btn-primary"  %>
 </div>
</div>

