<div class="random-show">
 <h1 class="text-center pt-5">1日分の献立表示</h1>
 <div class="d-flex justify-content-center mr-5">
  <div class="mr-5"><%= image_tag @menus.image, size: "500x500" %></div>
 <table>
   <tr>
     <td class=" h4 font-weight-bold">献立名</td>
     <td><%= @menus.name %></td>
   </tr>
   <tr>
     <td class=" h4 font-weight-bold">主食</td>
     <td><%= @menus.syusyoku %></td>
   </tr>
   <tr>
     <td class=" h4 font-weight-bold">主菜</td>
     <td><%= @menus.syusai %></td>
   </tr>
   <tr>
     <td class=" h4 font-weight-bold">副菜</td>
     <td><%= @menus.fukusai %></td>
   </tr>
   <tr>
     <td class=" h4 font-weight-bold">作り方</td>
     <td><%= @menus.introduction %></td>
   </tr>
 </table>
 </div>

<div class="text-center">
 <%= link_to "再度おまかせ", new_public_day_random_path, class: "btn btn-primary"  %>
</div>
</div>


