<div class="container">
    <div class="row">
        <div class="col-md-6"><%= image_tag @menu.image, size: "500x400" %></div>
        <table class="table table-borderless col-md-6">
          <tr>
            <th>献立名</th>
            <td><%= @menu.name %></td>
          </tr>
          <tr>
            <th>主食</th>
            <td><%= @menu.syusyoku %></td>
          </tr>
          <tr>
            <th>主菜</th>
            <td><%= @menu.syusai %></td>
          </tr>
          <tr>
            <th>副菜</th>
            <td><%= @menu.fukusai %></td>
          </tr>
          <tr>
            <th>作り方</th>
            <td class="border"><%=safe_join(@menu.introduction.split("\n"),tag(:br))%></td>
          </tr>
        </table>
    </div>
</div>

<div class="text-center pt-5">
  <%= link_to "再度おまかせ", new_public_day_random_path, class: "btn btn-info"  %>
</div>


