
<h3><%= @customer.name %> さんの投稿</h3>

<table>
  <tr>
    <td>会員ID</td>
    <td><%= @customer.id %></td>
  </tr>
  <tr>
    <td>名前</td>
    <td><%= @customer.name %></td>
  </tr>
  <tr>
    <td>メールアドレス</td>
    <td><%= @customer.email %></td>
  </tr>
  <tr>
    <td>投稿数</td>
    <td><%= @customer.menus.count %></td>
  </tr>
</table>

<table class="table">
  <thead>
    <tr>
    <th>投稿日</th>
    <th>献立名</th>
    <th>表示する</th>
    <th>投稿を削除</th>
  </tr>
  </thead>
  <tbody>
    <% @menus.each do |menu| %>
    <tr>
      <td><%= menu.created_at.strftime("%Y/%m/%d") %></td>
      <td><%= menu.name %></td>
      <td><%= link_to "詳細", public_menu_path(menu), class: "btn btn-primary" %></td>
      <td><%= link_to "削除", public_menu_path(menu), method: :delete,class: "btn btn-danger", "data-confirm" => "削除しますか？" %></td>
    </tr>
    <% end %>
  </tbody>
</table>
<%= paginate @menus, theme: 'twitter-bootstrap-4' %>