<div class="random-show">
 <div class="row offset-xs-3 pt-3 pl-2">
  <div>
     <% if @menu.image.attached? %>
      <%= image_tag @menu.image, size: "500x400" %>
     <% else %>
      <%= image_tag 'no_img', size: "500x400" %>
     <% end %>
  </div>

  <div>
   <table class="table table-borderless mt-5 ml-5 col-12">
    <tr>
       <th class="pr-5">食事</th>
       <td><%= @menu.food_status_i18n %></td>
     </tr>
    <tr>
       <th>ジャンル</th>
       <td><%= @menu.genre.name %></td>
     </tr>
     <tr>
       <th>献立名</th>
       <td><%= @menu.name %></td>
     </tr>
     <tr>
       <th>主食</th>
       <td><%= @menu.syusyoku %></td>
     </tr>
     <tr>
       <th>主菜</th>
       <td><%= @menu.syusai %></td>
     </tr>
     <tr>
       <th>副菜</th>
       <td><%= @menu.fukusai %></td>
     </tr>
     <tr>
       <th>作り方</th>
       <td class="border text-justify"><%= @menu.introduction %></td>
     </tr>
    </table>
  </div>
 </div>


 <div class="text-center pt-5">
  <% if customer_signed_in? && current_customer.id == @menu.customer_id  %>
   <div class="text-center">
     <%= link_to edit_public_menu_path(@menu.id), class: "btn btn-lg btn-warning" do %>
       <i class="fa-solid fa-pen-to-square"></i> 編集
     <% end %>
  <% end %>
 </div>
</div>
