  <div class="container mx-auto">
  <div class="bg-week">
    <div class="bg-week-content text-center">
      <div class="text-white">
        <h1 class="pt-5 mb-4">1週間分の献立</h1>
         <div class="d-flex justify-content-center">
          <h4 class="text-left">
            STEP1. 朝食・昼食・夕食からお選びください</br>
            STEP2. 和食・洋食・中華・その他からお選びください</br>
            STEP3. 「おまかせ」ボタンを押して下さい
          </h4>
        </div>
        <%= form_with model: @menus, url: public_week_randoms_path, method: :post, local: true do |f| %>
          <div class="mx-auto col-lg-5">
            <table class="">
                <tr>
                  <td class="h4 font-weight-bold">月曜日</td>
                  <!--f.selectだと配列で取得できないのでselect_tagに書き換え-->
                  <!--key = mon tue wed-->
                  <td class="d-flex justify-content-center pl-5 py-3 ">
                    <div class="mr-5">
                      <%= select_tag 'menus[mon][food_status]',                                                         #menusがblenkの場合は0（朝食を返す） 選択され場合はその選択されたものを返す
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:mon][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[mon][genre_id]',                             #menusがblenkの場合は0（--選択してください---を返す） 選択され場合はその選択されたものを返す
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:mon][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h4 font-weight-bold">火曜日</td>
                  <td class="d-flex justify-content-center pl-5 pb-3">
                    <div class="mr-5">
                      <%= select_tag 'menus[tue][food_status]',
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:tue][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[tue][genre_id]',
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:tue][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h4 font-weight-bold">水曜日</td>
                  <td class="d-flex justify-content-center pl-5 pb-3">
                    <div class="mr-5">
                      <%= select_tag 'menus[wed][food_status]',
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:wed][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[wed][genre_id]',
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:wed][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h4 font-weight-bold">木曜日</td>
                  <td class="d-flex justify-content-center pl-5 pb-3">
                    <div class="mr-5">
                      <%= select_tag 'menus[thu][food_status]',
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:thu][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[thu][genre_id]',
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:thu][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h4 font-weight-bold">金曜日</td>
                  <td class="d-flex justify-content-center pl-5 pb-3">
                    <div class="mr-5">
                      <%= select_tag 'menus[fri][food_status]',
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:fri][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[fri][genre_id]',
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:fri][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h4 font-weight-bold">土曜日</td>
                  <td class="d-flex justify-content-center pl-5 pb-3">
                    <div class="mr-5">
                      <%= select_tag 'menus[sat][food_status]',
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:sat][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[sat][genre_id]',
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:sat][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
                <tr>
                  <td class="h4 font-weight-bold">日曜日</td>
                  <td class="d-flex justify-content-center pl-5 pb-3">
                    <div class="mr-5">
                      <%= select_tag 'menus[sun][food_status]',
                          options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}, { selected: params[:menus].blank? ? 0 : params[:menus][:sun][:food_status] }),
                          class: "form-control col-12" %>
                      </div>
                    <div>
                      <%= select_tag 'menus[sun][genre_id]',
                          options_for_select(@genres.map{|genre|[genre.name,genre.id]}, { selected: params[:menus].blank? ? 0 : params[:menus][:sun][:genre_id] }),
                          include_blank: "--選択してください--" %>
                    </div>
                  </td>
                </tr>
            </table>
            <div class="mt-3"><%= f.submit "おまかせ", class: "btn btn-info" %></div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>






