<h3>1週間分の献立</h3>

<%= form_with model: @menu, url: public_week_randoms_path, method: :post, local: true do |f| %>
<table>
  <tr>
    <td>月曜日</td>
    <!--f.selectだと配列で取得できないからselect_tagに書き換えた-->
    <!--key = mon tue wed　とかのこと-->
    <tr>
      <td>
        <%= f.check_box :menu,{class: "check_box"}, true %>
        <%= label_tag :menu, "おまかせ" %>
      </td>
    </tr>
    <td>
      <%= select_tag 'menus[mon][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[mon][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
  <tr>
    <td>火曜日</td>
    <td>
      <%= select_tag 'menus[tue][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[tue][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
  <tr>
    <td>水曜日</td>
    <td>
      <%= select_tag 'menus[wed][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[wed][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
  <tr>
    <td>木曜日</td>
    <td>
     <%= select_tag 'menus[thu][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[thu][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
  <tr>
    <td>金曜日</td>
    <td>
      <%= select_tag 'menus[fri][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[fri][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
  <tr>
    <td>土曜日</td>
    <td>
      <%= select_tag 'menus[sat][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[sat][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
  <tr>
    <td>日曜日</td>
    <td>
      <%= select_tag 'menus[sun][food_status]', options_for_select(Menu.food_statuses.keys.map{|k| [I18n.t("enums.menu.food_status.#{k}"),k]}), class: "form-control col-1" %>
  　　<%= select_tag 'menus[sun][genre_id]',options_for_select(@genre.map{|genre|[genre.name,genre.id]}),include_blank: "--選択してください--" %>
    </td>
  </tr>
</table>
<div><%= f.submit "おまかせ", class: "btn btn-primary" %></div>
<% end %>
