<h3>１週間分の献立表示</h3>

<table>
  <tr>
    <td>月曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['mon'][0].food_status_i18n %></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['mon'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['mon'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>火曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['tue'][0].food_status_i18n %></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['tue'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['tue'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>水曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['wed'][0].food_status_i18n %></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['wed'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['wed'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>木曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['thu'][0].food_status_i18n %></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['thu'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['thu'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>金曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['fri'][0].food_status_i18n %>></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['fri'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['fri'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>土曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['sat'][0].food_status_i18n %></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['sat'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['sat'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
  <tr>
    <td>日曜日</td>
    <td>
      <table>
        <tr>
          <td><%= @menus['sun'][0].food_status_i18n %></td>
        </tr>
        <tr>
          <td>献立名</td>
          <td><%= @menus['sun'][0].name %></td>
        </tr>
        <tr>
          <td><%= link_to "献立を見る", public_menu_path(@menus['sun'][0]), class: "btn btn-primary" %></td>
        </tr>
      </table>
    </td>
  </tr>
</table>
<%= link_to "再度おまかせ", new_public_week_random_path, class: "btn btn-primary"  %>
