<div class="random-show ">
  <h1 class="text-center pt-4">１週間分の献立表示</h1>
    <div class="row mt-5">
      <table class="col-md-6 offset-md-3 text-center table">
       <thead>
        <tr>
          <th>曜日</th>
          <th>献立名</th>
          <th>詳細</th>
          <th>食事</th>
          <th>ジャンル</th>
        </tr>
       </thead>
       <tbody>
        <tr>
          <th>月曜日</th>
          <td><%= @menu['mon'][0].name %></td>
          <td>
            <%= link_to public_menu_path(@menu['mon'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['mon'][0].food_status_i18n %></td>
          <td><%= @menu['mon'][0].genre.name %></td>
        </tr>
        <tr>
          <th>火曜日</th>
          <td><%= @menu['tue'][0].name %></td>
          <td>
            <%= link_to public_menu_path(@menu['tue'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['tue'][0].food_status_i18n %></td>
          <td><%= @menu['tue'][0].genre.name %></td>
        </tr>
        <tr>
          <th>水曜日</th>
          <td><%= @menu['wed'][0].name %></td>
         <td>
            <%= link_to public_menu_path(@menu['wed'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['wed'][0].food_status_i18n %></td>
          <td><%= @menu['wed'][0].genre.name %></td>
        </tr>
        <tr>
          <th>木曜日</th>
          <td><%= @menu['thu'][0].name %></td>
          <td>
            <%= link_to public_menu_path(@menu['thu'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['thu'][0].food_status_i18n %></td>
          <td><%= @menu['thu'][0].genre.name %></td>
        </tr>
        <tr>
          <th>金曜日</th>
          <td><%= @menu['fri'][0].name %></td>
          <td>
            <%= link_to public_menu_path(@menu['fri'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['fri'][0].food_status_i18n %></td>
          <td><%= @menu['fri'][0].genre.name %></td>
        </tr>
        <tr>
          <th>土曜日</th>
          <td><%= @menu['sat'][0].name %></td>
          <td>
            <%= link_to public_menu_path(@menu['sat'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['sat'][0].food_status_i18n %></td>
          <td><%= @menu['sat'][0].genre.name %></td>
        </tr>
        <tr>
          <th>日曜日</th>
          <td><%= @menu['sun'][0].name %></td>
          <td>
            <%= link_to public_menu_path(@menu['sun'][0]) do %>
              <div class="show-btn">献立を見る</div>
            <% end %>
          </td>
          <td><%= @menu['sun'][0].food_status_i18n %></td>
          <td><%= @menu['sun'][0].genre.name %></td>
        </tr>
       </tbody>
      </table>
    </div>
  <div class="text-right pr-5 pb-5">
    <%= link_to "再度おまかせ", new_public_week_random_path, class: "btn btn-lg btn-info"  %>
  </div>
</div>


