<nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <div class="navbar-brand">
          <%= link_to root_path do %>
          　<%= image_tag 'logo_transparent.png', :size =>'120x120' %>
          <% end %>
        </div>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-md-auto align-items-center">
            <% if customer_signed_in? %>
            <li>
              <%= link_to destroy_customer_session_path, method: :delete  do %>
               <div class="header-btn">
                 <i class="fa-solid fa-right-from-bracket"></i> ログアウト
               </div>
              <% end %>
            </li>
            <li>
              <%= link_to public_my_page_path do %>
               <div class="header-btn">
                 <i class="fa-solid fa-user"></i> マイページ
               </div>
              <% end %>
            </li>
            <li>
              <%= link_to root_path do %>
               <div class="header-btn">
                 <i class="fa-solid fa-house"></i> トップページ
               </div>
              <% end %>
            </li>
            <li>
              <%= link_to new_public_menu_path do %>
               <div class="header-btn">
                 <i class="fa-solid fa-file-pen"></i> 新規投稿
               </div>
              <% end %>
            </li>
            <% elsif admin_signed_in? %>
            <li>
              <%= link_to destroy_admin_session_path, method: :delete do %>
               <div class="header-btn">
                 <i class="fa-solid fa-right-from-bracket"></i> 管理者ログアウト
               </div>
              <% end %>
            </li>
            <li>
              <%= link_to new_admin_genre_path do %>
               <div class="header-btn">
                 <i class="fa-solid fa-bowl-food"></i> ジャンル
               </div>
              <% end %>
            </li>
            <li>
              <%= link_to admin_customers_path do %>
               <div class="header-btn">
                 <i class="fa-solid fa-users"></i> 会員一覧
               </div>
              <% end %>
            </li>
            <li>
              <%= link_to admin_contacts_path do %>
               <div class="header-btn">
                 <% if @unchecked_notifications.any? %>
                  <i class="fa-solid fa-bell notification-icon fa-lg"></i>お問い合わせ
                 <% else %>
                  お問い合わせ
                 <% end %>
               </div>
              <% end %>
            </li>
            <% end %>
          </ul>
        </div>
      </div>
  </nav>

