<header>
  <div>
    <ul>
      <% if customer_signed_in? %>
      <li><%= link_to "ログアウト", destroy_customer_session_path, method: :delete %></li>
      <li><%= link_to "マイページ", public_customers_my_page_path %></li>
      <li><%= link_to "トップページ", root_path %></li>
      <% elsif admin_signed_in? %>
      <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      <%= link_to "ジャンル", new_admin_genre_path %>
      <%= link_to "会員一覧", admin_customers_path %>
      <% end %>
    </ul>
  </div>

</header>
