
<header>
  <header class="shadow-sm">
    <nav class="navbar navbar-expand-lg navbar-light">
      <div class="container">
        <%= link_to root_path do %>
          <%= image_tag 'logo_transparent.png', :size =>'120x120' %>
        <% end %>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
            aria-controls="navbarNavDropdown" aria-expanded="true" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
           <div class="collapse navbar-collapse show" id="navbarNavDropdown">
    <ul>
      <% if customer_signed_in? %>
      <%= link_to "ログアウト", destroy_customer_session_path, method: :delete %>
      <%= link_to "マイページ", public_customers_my_page_path %>
      <%= link_to "トップページ", root_path %>
      <% elsif admin_signed_in? %>
      <%= link_to "管理者ログアウト", destroy_admin_session_path, method: :delete %>
      <%= link_to "ジャンル", new_admin_genre_path %>
      <%= link_to "会員一覧", admin_customers_path %>
      <%= link_to "お問い合わせ", admin_contacts_path %>
      <% end %>
    </ul>
  </div>
  </div>
  </nav>
</header>
